parameters:
	ignoreErrors:
		-
			message: "#^Method ZE\\\\ContentValidation\\\\Extractor\\\\OptionsExtractor\\:\\:getOptionsForRequest\\(\\) should return array\\<string, class\\-string\\<Laminas\\\\InputFilter\\\\InputFilter\\>\\> but returns array\\<string, string\\>\\.$#"
			count: 1
			path: src/Extractor/OptionsExtractor.php

		-
			message: "#^Cannot access offset 'ze\\-content…' on mixed\\.$#"
			count: 1
			path: src/Extractor/OptionsExtractorFactory.php

		-
			message: "#^Call to an undefined method Laminas\\\\InputFilter\\\\InputFilterInterface\\|Laminas\\\\InputFilter\\\\InputInterface\\:\\:getName\\(\\)\\.$#"
			count: 1
			path: src/Validator/ValidationResult.php

		-
			message: "#^Parameter \\#3 \\$messages of class ZE\\\\ContentValidation\\\\Validator\\\\ValidationResult constructor expects array\\<string, array\\<string\\>\\>, array\\<string, array\\<array\\<string\\>\\|string\\>\\> given\\.$#"
			count: 1
			path: src/Validator/ValidationResult.php
